# MkDocs build directory
/site/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Environment files
.env
.venv/
env/
venv/
ENV/
.Python

# IDEs/editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log

# MacOS
.AppleDouble
.LSOverride

# Windows
ehthumbs.db
Desktop.ini

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Node.js (if using for custom scripts)
node_modules/
